/pomiary
/tresc_dokumentu.aux
/tresc_dokumentu.bbl
/tresc_dokumentu.blg
/tresc_dokumentu.lof
/tresc_dokumentu.log
/tresc_dokumentu.lot
/tresc_dokumentu.out
/tresc_dokumentu.toc
/document.aux
/document.log
/document.toc
/dokument.pdf
/dokument.synctex.gz
